# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# HuggingFace / Models
*.safetensors
*.bin
*.pt
*.ckpt

# Large outputs
outputs/
checkpoints/
models/

# Jupyter checkpoints
.ipynb_checkpoints/

# Cache
.cache/
venv_awq/
